<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
  <%- include('../../components/imports'); -%>
</head>
<body>
  <%- include('../../components/navbar'); -%>

  <div class="container">
    <div class="row rowTitle">
      <h1>Administração de Projetos</h1>
    </div>

    <div class="row rowButton">
      <a href="/admin/projects/create" class="btnCreate">Novo</a>
    </div>

    <div class="row tableRow">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Título</th>
          </tr>
        </thead>
        <tbody>
          <% projects.forEach((project) => { %>
            <tr>
              <td><%= project.id %></td>
              <td><%= project.title %></td>
            </tr>
          <% }); %>
          
        </tbody>
      </table>
    </div>
  </div>
  
</body>
</html>