<div class="navBar">
	<div class="navContainer">
		<div class="navContent">
			<div class="container">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/posts">Posts</a></li>
					<li><a href="/projects">Projects</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>