<div class="postItem">
	<div class="postImage">
		<img src="../public/images/<%= post.image %>">
	</div>
	<div class="postContent">
		<div class="postDescription">
			<h4><%= post.title %></h4>
			<p><%= post.description %></p>
		</div>
		<a href="/posts/<%= post.id %>">Ler mais</a>
	</div>
</div>