<div class="postsItem">
	<div class="postsImage">
		<img src="../public/images/<%= post.image %>">
	</div>
	<div class="postsContent">
		<div class="postsDescription">
			<h4><%= post.title %></h4>
			<p><%= post.description %></p>
		</div>
		<a href="/posts/<%= post.id %>">Ler mais</a>
	</div>
</div>