<div class="servicesItem">
	<div class="servicesImage">
		<img src="../public/images/<%= service.image %>">
	</div>
	<div class="servicesContent">
		<div class="servicesDescription">
			<h4><%= service.name %></h4>
			<p><%= service.description %></p>
		</div>
		<a href="/services/<%= service.id %>">Ver Serviço</a>
	</div>
</div>