<div class="testimonialRow">
  <img src="../../public/images/post.jpg">
  <div class="testimonialContent">
    <h5><%= testimonial.name %></h5>
    <h2><%= testimonial.testimony %></h2>
    <p><%= testimonial.title %> at <%= testimonial.company %></p>
  </div>
</div>