<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include('./components/imports'); -%>
</head>

<body>
  <%- include('./components/navbar'); -%>

  <div class="container" id="homeContainer">
    <div class="row rowIndex">
      <% posts.forEach((post) => { %>
      <%- include('./components/post_card.ejs', { post: post }) %>
      <% }) %>
    </div>
  </div>
</body>

</html>