<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include('./components/imports'); -%>
</head>

<body>
  <%- include('./components/navbar'); -%>

  <div class="container">
    <div class="row justify-content-md-center">
      <% posts.forEach((post) => { %>
        <%- include('./components/post_card.ejs', { post: post} ) %>
      <% }) %>
    </div>
  </div>
</body>

</html>