<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include('./components/imports'); -%>
</head>

<body>
  <%- include('./components/navbar'); -%>

  <!-- Posts -->
  <div class="container" id="postsContainer">
    <div class="postList">
      <% posts.forEach((post) => { %>
        <%- include('./components/posts_item.ejs', { post : post }) %>
      <% }) %>
    </div>
  </div>

</body>

</html>