<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include('./components/imports'); -%>
</head>

<body>
  <%- include('./components/navbar'); -%>

  <!-- Products -->
  <div class="container" id="productsContainer">
    <div class="productsList">
      <% products.forEach((product) => { %>
      <%- include('./components/products_item.ejs', { product : product }) %>
      <% }) %>
    </div>
    <div class="doneCart"
      style="width: 100%; margin-top: 40px; display: flex; justify-content: center; align-items: center;">
      <a href="/cart">Finalizar e ir para o carrinho</a>
    </div>
  </div>

  <script>
    var products
    function setCart(product) {
      var cart = []

      if (localStorage.getItem('cart')) {
        cart.push(JSON.parse(localStorage.getItem('cart')))
        cart.push(product)

        localStorage.setItem('cart', JSON.stringify(cart))
      } else {
        cart.push(product)
        localStorage.setItem('cart', JSON.stringify(cart))
      }

      console.log(cart)
    }
  </script>

</body>

</html>