<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include('./components/imports'); -%>
</head>

<body>
  <%- include('./components/navbar'); -%>

  <!-- Posts -->
  <div class="container" id="projectsContainer">
    <div class="projectList">
      <% projects.forEach((project) => { %>
      <%- include('./components/projects_item.ejs', { project : project }) %>
      <% }) %>
    </div>
  </div>

</body>

</html>