<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include('./components/imports'); -%>
</head>

<body>
  <%- include('./components/navbar'); -%>

  <!-- Posts -->
  <div class="container" id="testimonialContainer">
    <% testimonials.forEach((testimonial) => { %>
    <%- include('./components/testimonial.ejs', { testimonial: testimonial }) %>
    <% }) %>
  </div>

</body>

</html>