<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin - Create Post</title>
  <%- include('../../components/imports'); -%>
</head>
<body>
  <%- include('../../components/navbar'); -%>
  <div class="container">
    <div class="row rowTitleCreate">
      <h1>Cadastrar</h1>
		</div>
		
    <div class="row rowForm">
      <form action="create" method="POST">
        <div class="formContainer">
          <div class="formWrapper">
            <label for="actuatorName">Nome</label>
            <input name="actuatorName" type="text" class="formInput" id="actuatorName" placeholder="Nome do ativador">
          </div>
  
          <div class="formWrapper">
            <label for="actuatorStatus">Situação</label>
            <select name="actuatorStatus" id="actuatorStatus">
							<option value="on">Ligado</option> 
  						<option value="off" selected>Desligado</option>
						</select>
          </div>
        </div>
        <div class="row rowCreateButton">
          <button type="submit">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>